.git
.github
.vscode
.idea

.env
.env.*
!.env.example

.venv
.venv-*
venv
env

__pycache__
*.py[cod]
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
htmlcov

dbt_packages
target
logs
*.log

data/raw
data/validated
data/quarantine
data/s3_partitioned
data/validation_reports
data/pipeline_audit_logs

aws_*_policy.json
s3_snowpipe_notification_config.json

.DS_Store
Thumbs.db
