SNOWFLAKE_ACCOUNT=your_snowflake_account
SNOWFLAKE_USER=your_snowflake_user
SNOWFLAKE_PASSWORD=your_snowflake_password
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=FRAUD_DISPUTE_WH
SNOWFLAKE_DATABASE=FRAUD_DISPUTE_DB
SNOWFLAKE_SCHEMA=RAW

FRAUD_DISPUTE_S3_BUCKET=your_s3_bucket_name
DBT_TARGET=dev
